


.fcard {
	background-color: #CCF6FF;
	border: 3px solid #EB9928;
	font-size: 4vmin;
	color: #2F4858;
	text-align: center;
	width: 90vw;
	height: 20vh;
	font-family: 'Roboto';
	font-weight: 400;
	border-radius: 10px;
	box-shadow: 5px 5px #000000;
	transition: ease-in-out 0.2s;
}
.fcardabox {
	display: grid;
	grid-template-columns: 42.5vw 42.5vw;
	grid-template-rows: 20vh 20vh;
	grid-column-gap: 5vw;
	grid-row-gap: 5vh;
}
.fcarda {
	background-color: #CCF6FF;
	border: 3px solid #EB9928;
	font-size: 4vmin;
	color: #2F4858;
	text-align: center;
	width: 40vw;
	height: 20vh;
	font-family: 'Roboto';
	font-weight: 400;
	border-radius: 10px;
	box-shadow: 5px 5px #000000;
	transition: ease-in-out 0.2s;
}

.fcard:hover {
	width: 91vw;
	height: 21vh;
}
@keyframes bounce-up {
	0% {transform: scale(1);}
	50% {transform: scale(1.02);}
	100% {transform: scale(1);}
}
/* #2F4858 is dark blue, #5F788A is medium blue, #CCF6FF is light blue, #EB9928 is orange */ 
body {
	background-color: #5F788A;
}
